{% extends param('ccdn_forum_moderator.post.show_locked.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{- asset('bundles/ccdncomponentcommon/js/ccdn/jquery.checkboxes.js') -}}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{- truncDot('ccdn_forum_moderator.title.post.locked' | trans({}, 'CCDNForumModeratorBundle'), param('ccdn_forum_moderator.seo.title_length')) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumModeratorBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'ccdn_forum_moderator.title.post.locked' | trans({}, 'CCDNForumModeratorBundle') -}}</h2>

	<form method="POST" action="{{- path('ccdn_forum_moderator_post_bulk_action') -}}">

	<div class="btn-toolbar" style="display:block !important;clear:both !important;">
		<div class="pull-left">
			<input type="submit" class="btn btn-primary disabled" value="{{- 'ccdn_forum_moderator.link.post.lock' |trans({}, 'CCDNForumModeratorBundle') -}}" name="submit_lock" disabled data-responds-disabled="posts">&nbsp;
			<input type="submit" class="btn btn-primary disabled" value="{{- 'ccdn_forum_moderator.link.post.unlock' |trans({}, 'CCDNForumModeratorBundle') -}}" name="submit_unlock" disabled data-responds-disabled="posts">&nbsp;
			<input type="submit" class="btn btn-primary disabled" value="{{- 'ccdn_forum_moderator.link.topic.restore' |trans({}, 'CCDNForumModeratorBundle') -}}" name="submit_restore" disabled data-responds-disabled="posts">&nbsp;
			<input type="submit" class="btn btn-danger disabled" value="{{- 'ccdn_forum_moderator.link.topic.delete_soft' |trans({}, 'CCDNForumModeratorBundle') -}}" name="submit_soft_delete" disabled data-responds-disabled="posts">
		</div>
		{%- if pager.haveToPaginate -%}
			<div class="pull-right">
		    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_moderator_post_show_all_locked_paginated', 'routeParams':{}}) -}}
			</div>
		{%- endif -%}
		<br><br>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th class="center"><input type="checkbox" id="check_all" name="check_all" class="hidden" data-compat='interactive-js-compat' data-action-toggle="posts" data-identifier="posts" data-qualifier="all"></th>
				<th class="center"><i class="icon-lock"></i></th>
				<th class="center"><i class="icon-trash"></i></th>
				<th class="center">{{- 'ccdn_forum_moderator.board.table.head.post_number' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
				<th class="left">{{- 'ccdn_forum_moderator.board.table.head.topic_title' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
				<th class="center">{{- 'ccdn_forum_moderator.board.table.head.created_by' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
				<th class="center">{{- 'ccdn_forum_moderator.board.table.head.locked_by' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
				<th class="center">{{- 'ccdn_forum_moderator.board.table.head.deleted_by' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
			</tr>
		</thead>
		<tbody>
			{%- for row, post in posts -%}
				<tr class="{{- cycle(['row_odd', 'row_even'], row) -}}">

					<td class="center">
						<input type="checkbox" id="post_{{- post.id -}}" name="check_{{- post.id -}}" data-check-all-responds="true" data-identifier="posts">
					</td>

					<td class="center">
						{%- if post.getLockedBy -%}
						<i class="icon-lock"></i>
						{%- endif -%}
					</td>

					<td class="center">
						{%- if post.getDeletedBy -%}
						<i class="icon-trash"></i>
						{%- endif -%}
					</td>

					<td class="center">
						<a href="{{- path('ccdn_forum_forum_post_show', {'postId': post.getId }) -}}">#{{- post.getId -}}</a>
					</td>

					<td class="left">
						{%- if post.getTopic -%}
							<span class="label label-info">{{- post.getTopic.getCachedReplyCount -}}&nbsp;{{- 'ccdn_forum_moderator.board.table.head.reply_count' | trans({}, 'CCDNForumModeratorBundle') -}}</span>&nbsp;
							<span class="label label-info">{{- post.getTopic.getCachedViewCount -}}&nbsp;{{- 'ccdn_forum_moderator.board.table.head.view_count' | trans({}, 'CCDNForumModeratorBundle') -}}</span>&nbsp;
							<a href="{{- path('ccdn_forum_forum_topic_show', {'topicId': post.getTopic.getId }) -}}" title="{{- post.getTopic.getTitle -}}">{{- truncDot(post.getTopic.getTitle |capitalize, param('ccdn_forum_moderator.post.show_locked.topic_title_truncate')) -}}</a>
						{%- endif -%}
					</td>

					<td class="right">
						{%- if post.getCreatedBy -%}
							<a href="{{- path(user_profile_route, {'userId': post.getDeletedBy }) -}}">{{- post.getCreatedBy.getUsername |capitalize -}}</a>
						{%- endif -%}

						{%- if post.getCreatedDate -%}
							{{- 'ccdn_forum_moderator.actioned_at' |trans({}, 'CCDNForumModeratorBundle') -}}
							{{- post.getCreatedDate |date(param('ccdn_forum_moderator.post.show_locked.post_created_datetime_format')) -}}
						{%- endif -%}
					</td>

					<td class="right">
						{%- if post.getLockedBy -%}
							<a href="{{- path(user_profile_route, {'userId': post.getDeletedBy }) -}}">{{- post.getLockedBy.getUsername |capitalize -}}</a>
						{%- endif -%}

						{%- if post.getLockedDate -%}
							{{- 'ccdn_forum_moderator.actioned_at' |trans({}, 'CCDNForumModeratorBundle') -}}
							{{- post.getLockedDate |date(param('ccdn_forum_moderator.post.show_locked.post_locked_datetime_format')) -}}
						{%- endif -%}
					</td>

					<td class="right">
						{%- if post.getDeletedBy -%}
							<a href="{{- path(user_profile_route, {'userId': post.getDeletedBy }) -}}">{{- post.getDeletedBy.getUsername |capitalize -}}</a>
						{%- endif -%}

						{%- if post.getDeletedDate -%}
							{{- 'ccdn_forum_moderator.actioned_at' |trans({}, 'CCDNForumModeratorBundle') -}}
							{{- post.getDeletedDate |date(param('ccdn_forum_moderator.post.show_locked.post_deleted_datetime_format')) -}}
						{%- endif -%}
					</td>

				</tr>
			{%- else -%}
				<tr>
					<td class="center" colspan="11">
						{{- 'ccdn_forum_moderator.posts.locked.table.empty' | trans({}, 'CCDNForumModeratorBundle') -}}
					</td>
				</tr>
			{%- endfor -%}
		</tbody>
	</table>

	<div class="btn-toolbar" style="display:block !important;clear:both !important;">
		<div class="pull-left">
		</div>
		{%- if pager.haveToPaginate -%}
			<div class="pull-right">
		    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_moderator_post_show_all_locked_paginated', 'routeParams':{}}) -}}
			</div>
		{%- endif -%}
		<br><br>
	</div>

	</form>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock %}
