{% extends param('ccdn_forum_moderator.flag.show_flagged.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{- asset('bundles/ccdncomponentcommon/js/ccdn/jquery.checkboxes.js') -}}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{- 'title.flag.show.all' | trans({}, 'CCDNForumModeratorBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumModeratorBundle:Sidebar:sidebar.html.twig' -%}
	
{% endblock %}


{% block sidebar_filter_tags %}
	{{ parent() }}

	{%- spaceless -%}
	
	<div class="well" style="padding: 8px 0 8px !important;">
		<ul class="nav nav-list">
			<li class="nav-header">{{- 'sidebar.header.flags_by_status' | trans({}, 'CCDNForumModeratorBundle') -}}</li>
			{%- if app.request.attributes.get('_route') == 'cc_moderator_forum_flagged_show_all_status' or app.request.attributes.get('_route') == 'cc_moderator_forum_flagged_show_all_status_paginated' -%}
				{%- for status_key, status in status_codes -%}
					{%- if app.request.get('status') -%}
						{%- if app.request.get('status') == status_key -%}
							<li class="active"><a href="{{- path('cc_moderator_forum_flagged_show_all_status', {'status':status_key}) -}}"><i class="icon-white icon-tag"></i>&nbsp;{{- status -}}</a></li>
						{%- else -%}
							<li><a href="{{- path('cc_moderator_forum_flagged_show_all_status', {'status':status_key}) -}}"><i class="icon-tag"></i>&nbsp;{{- status -}}</a></li>
						{%- endif -%}
					{%- else -%}
						<li><a href="{{- path('cc_moderator_forum_flagged_show_all_status', {'status':status_key}) -}}"><i class="icon-tag"></i>&nbsp;{{- status -}}</a></li>			
					{%- endif -%}
				{%- endfor -%}	
			{%- else -%}
				{%- for status_key, status in status_codes -%}
					<li><a href="{{- path('cc_moderator_forum_flagged_show_all_status', {'status':status_key}) -}}"><i class="icon-tag"></i>&nbsp;{{- status -}}</a></li>
				{%- endfor -%}	
			{%- endif -%}
		</ul>
	</div>
	
	{%- endspaceless -%}
	
{% endblock %}


{% block body %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'title.flag.show.all' | trans({}, 'CCDNForumModeratorBundle') -}}</h2>

	<form method="POST" action="{{- path('cc_moderate_forum_flag_action_bulk') -}}">

	<div class="btn-toolbar form-inline">
		<input type="submit" class="btn btn-danger" value="{{- 'link.flag.delete' |trans({}, 'CCDNForumModeratorBundle') -}}" name="submit_delete">
		<select name="select_mark_as" class="widget_select">
			{%- for status_key, status in status_codes -%}
			<option class="widget_select" value="{{- status_key -}}">{{- status -}}</option>
			{%- endfor -%}
		</select>
		<input type="submit" class="btn btn-danger" value="{{- 'link.flag.mark_as' |trans({}, 'CCDNForumModeratorBundle') -}}" name="submit_mark_as">
	</div>
	
	{%- if pager.haveToPaginate -%}
		{{- pagerfanta(pager, 'twitter_bootstrap', {'routeName':'cc_moderator_forum_flagged_show_all_status_paginated', 'routeParams':{}} ) -}}
	{%- endif -%}
	
	<table class="table">
		<thead>
			<tr>
				<th class="center" style="width:18px;"></th>
				<th class="left">{{- 'flag.table.head.topic' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
				<th class="left">{{- 'flag.table.head.board' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
			</tr>
		</thead>
		<tbody>
		{%- for post_key, post in posts -%}
			<tr class="{{- cycler(['row_odd', 'row_even'], 'posts') -}}">
				<td class="center"><i class="icon-comment"></i></td>
				<td class="left">
					{%- if post.getTopic -%}
						<a href="{{- path('cc_forum_topic_show', {'topic_id': post.getTopic.getId }) -}}" title="{{- post.getTopic.getTitle -}}">#{{- post.getId -}}&nbsp;{{- truncDot(post.getTopic.getTitle, param('ccdn_forum_moderator.flag.show_flagged.topic_title_truncate')) -}}</a>
					{%- endif -%}
					<br>
					{{- 'post.posted_by' | trans({}, 'CCDNForumForumBundle') -}}
					{%- if post.getCreatedBy -%}
						<a href="{{- path(user_profile_route, {'user_id': post.getCreatedBy.getId } ) -}}">{{- post.getCreatedBy |capitalize -}}</a>
					{%- else -%}
						Guest
					{%- endif -%}
					{{- 'actioned.at' | trans({'%date%': post.getCreatedDate |date(param('ccdn_forum_moderator.flag.show_flagged.post_created_datetime_format'))}, 'CCDNForumForumBundle') -}}
				</td>
				<td class="left">
					{{- 'flag.posted_on_board' | trans({}, 'CCDNForumModeratorBundle') -}}&nbsp;
					<a href="{{- path('cc_forum_category_show', {'category_id': post.getTopic.getBoard.getCategory.id }) -}}">{{- post.getTopic.getBoard.getCategory.getName -}}</a> / 
					<a href="{{- path('cc_forum_board_show', {'board_id': post.getTopic.getBoard.id }) -}}">{{- post.getTopic.getBoard.getName -}}</a>
				</td>
			</tr>
			<tr class="{{- cycler(['row_odd', 'row_even'], 'posts') -}}">
				<td class="center"></td>
				<td class="center" colspan="2">
					<div>
						<table class="table">
							<thead>
								<tr>
									<th class="center" style="width:18px;"><input type="checkbox" class="hidden" id="check_all" name="check_all_for_{{- post.getId -}}" class="hidden" data-compat='interactive-js-compat' data-action-toggle="check_all_for_{{- post.getId -}}" data-identifier="check_all_for_{{- post.getId -}}" data-qualifier="all"></th>
									<th class="center" style="width:18px;"><i class="icon-flag"></i></th>
									<th class="left">{{- 'flag.table.head.reason' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
									<th class="center">{{- 'flag.flagged_by' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
									<th class="center">{{- 'actioned.at' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
									<th class="center">{{- 'flag.table.head.status' | trans({}, 'CCDNForumModeratorBundle') -}}</th>
								</tr>
							</thead>
							<tbody>
								{%- for flag_key, flag in post.flags -%}
								<tr class="{{- cycle(['row_odd', 'row_even'], flag_key) -}}">
									<td class="center">
										<input type="checkbox" id="flag_{{- flag.id -}}" name="check_{{- flag.id -}}_for_{{- post.getId -}}" data-check-all-responds="true" data-identifier="check_all_for_{{- post.getId -}}">
									</td>
									<td class="center"><i class="icon-flag"></i></td>
									<td class="left">
										<a href="{{- path('cc_moderator_forum_flag_show', {'flag_id': flag.getId }) -}}">{{- reason_codes[flag.getReason] -}}</a>
									</td>
									<td class="center" style="width: 200px;">
										{%- if flag.getFlaggedBy -%}
											<a href="{{- path(user_profile_route, {'user_id': flag.getFlaggedBy.getId } ) -}}">{{- flag.getFlaggedBy |capitalize -}}</a>
										{%- else -%}
											Guest
										{%- endif -%}
									</td>
									<td class="center" style="width: 150px;">
										{{- flag.getFlaggedDate |date(param('ccdn_forum_moderator.flag.show_flagged.flag_created_datetime_format')) -}}
									</td>
									<td class="center" style="width: 100px;">
										<a href="{{- path('cc_moderator_forum_flag_show', {'flag_id': flag.getId }) -}}">{{- status_codes[flag.getStatus] -}}</a>
									</td>
								</tr>
								{%- endfor -%}
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		{%- else -%}
			<tr>
				<td class="center" colspan="6">
					{{- 'flag.table.empty' | trans({}, 'CCDNForumModeratorBundle') -}}
				</td>
			</tr>
		{%- endfor -%}
		</tbody>
	</table>
	
	</form>

	{%- if pager.haveToPaginate -%}
		{{- pagerfanta(pager, 'twitter_bootstrap', {'routeName':'cc_moderator_forum_flagged_show_all_status_paginated', 'routeParams':{}} ) -}}
	{%- endif -%}
	
	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock %}